################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JwtWithoutIdentity2/v15/Server/sqlite3
